@import "src/variables";

.doctor_line {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f6f8ff;
  width: 84vw;
  padding: 3vh;
  margin-bottom: 10px;
  margin-left: 183px;
}
