@import "src/variables";
.menu_element {
  display: flex;

  height: 53px;
  align-items: center;
  border: none;
}
.menu_element:hover {
  cursor: pointer;
}

.title {
  color: $white;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  padding-left: 8px;
}

.container {
  width: 160px;
  padding-left: 10px;
  border: 2px solid transparent;
  border-radius: 20px 0px 0px 20px;
}
.container:hover {
  border: 2px solid $turquoise;
}

.filtered_svg {
  width: 27px;
  height: 27px;
  filter: invert(0%) sepia(100%) saturate(100%) hue-rotate(239deg)
    brightness(140%) contrast(100%);
}

.svg {
  width: 27px;
  height: 27px;
}
