@import "src/variables";

.allert_option {
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  border: none;
  border-radius: 20px 0px 20px 0px;
}

.edit {
  padding-left: 50px;
  padding-right: 30px;
}

.edit:hover {
  cursor: pointer;
  filter: invert(5%) sepia(99%) saturate(82%) hue-rotate(1deg) brightness(0%)
    contrast(106%);
}

.left_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 35px;
  height: 55px;
  border: none;
  border-radius: 20px 0px 20px 0px;
  background-color: $olive-gradient;
}

.index_number {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.name {
  padding-left: 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

@media (max-width: 420px) {
  .name {
    width: 90px;
  }
  .edit {
    padding-left: 10px;
  }
}

.assistantIn {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: space-around;
  border: 2px solid $yellow;
  color: $yellow;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  border-radius: 50%;
  background: $opacity-light-yellow;
}

.assistantRequired {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: space-around;
  border: 2px solid $yellow;
  color: $orange;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  border-radius: 50%;
  background: $opacity-light-yellow;
}
.doctorRequired {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: space-around;
  border: 2px solid $sky;
  color: $orange;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  border-radius: 50%;
  background: $bright-blue;
}

.doctorIn {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: space-around;
  border: 2px solid $sky;
  color: $sky;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  border-radius: 50%;
  background: $bright-blue;
}

.patientIn {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: space-around;
  border: 2px solid $olive-green;
  color: $olive-green;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  border-radius: 50%;
  background: $bright-green;
}

.financialIn {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: space-around;
  border: 2px solid $light-violet;
  color: $light-violet;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  border-radius: 50%;
  background: $bright-viloet;
}

.financialRequired {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: space-around;
  border: 2px solid $light-violet;
  color: $orange;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  border-radius: 50%;
  background: $bright-viloet;
}

.emergency {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: space-around;
  border: 2px solid $red;
  color: $red;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  border-radius: 50%;
  background: $bright-red;
}

.empty {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: space-around;
  border: 2px solid $light-asphalt;
  color: $white;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  border-radius: 50%;
  background: $white;
}
.allert1 {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: space-around;
  border: 2px solid $dark-purple;
  color: $dark-purple;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  border-radius: 50%;
  background: $bright-dark-purple;
}

.allert2 {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: space-around;
  border: 2px solid $light-turquoise;
  color: $light-turquoise;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  border-radius: 50%;
  background: $opacity-light-turquoise;
}

.allert3 {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: space-around;
  border: 2px solid $orange;
  color: $orange;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  border-radius: 50%;
  background: $opacity-orange;
}

.allert4 {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: space-around;
  border: 2px solid $light-purple;
  color: $light-purple;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  border-radius: 50%;
  background: $opacity-light-purple;
}

.allert5 {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: space-around;
  border: 2px solid $olive-turquoise;
  color: $olive-turquoise;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  border-radius: 50%;
  background: $opacity-olive-turquoise;
}

.allert6 {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: space-around;
  border: 2px solid $light-green;
  color: $light-green;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  border-radius: 50%;
  background: $opacity-light-green;
}
