@import "src/variables";

.modal {
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 1; /* Sit on top */
  margin-left: 11vw;

  width: 89vw; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  backdrop-filter: contrast(70%);
}

.modal_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  align-items: flex-start;
  padding: 20px;
  gap: 15px;
  width: 27vw;
  height: 145px;
  border: none;
  border-radius: 20px;
  background-color: $white;
  box-shadow: 0px 4px 20px 0px #202b5d1f;
}

@media (max-width: 420px) {
  .modal {
    width: 136vw;
    margin-left: 0vw;
  }
  .modal_content {
    width: 80vw;
  }
}
.close:hover {
  cursor: pointer;
  filter: invert(5%) sepia(99%) saturate(82%) hue-rotate(1deg) brightness(0%)
    contrast(106%);
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.close_container {
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: flex-end;
}

.message {
  width: 200px;
  height: 20px;
  padding-top: 10px;
  color: $turquoise;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.content_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
