@import "src/variables";
.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $light-grey;
}

.page_content {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $light-grey;
}
@media (max-width: 420px) {
  .page_content {
    padding: 0px;
    margin-left: 0px;
  }
}

.menu_icon {
  width: 20px;
  height: 20px;
  padding-left: 20px;
  padding-top: 20px;
}
