@import "src/variables";
.row {
  display: flex;
  height: 55px;
  width: 80vw;
  background-color: $white;
  justify-content: space-between;
  border-radius: 20px 0px 20px 0px;
  align-items: center;
  margin-left: 2vw;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

.index {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $turquoise;
  border: none;
  width: 35px;
  height: 55px;
  border-radius: 20px 0px 20px 0px;
}

.text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
}

.action {
  margin-right: 15px;
}

.action:hover {
  cursor: pointer;
  filter: invert(5%) sepia(99%) saturate(82%) hue-rotate(1deg) brightness(0%)
    contrast(106%);
}
