@import "src/variables";
.page {
  display: flex;
  height: 100vh;
  background-color: $light-grey;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
}

.page_content {
  width: 89vw;
  display: flex;
  flex-direction: column;
  margin-left: 180px;
}

@media (max-width: 420px) {
  .page_content {
    padding: 0px;
    margin-left: -75px;
  }
  .header {
    flex-direction: column;
    padding-left: 50px;
  }
  .page {
    padding-bottom: 11vh;
  }
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 35vw;
}

.navigationItem {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  position: relative;
}
.navigationItem:hover {
  cursor: pointer;
  color: $turquoise;
}
.navigationItem:before {
  content: "";
  position: absolute;
  left: 25%;
  bottom: 0;
  width: 50%; /* or 100px */
}

.button_container {
  padding-right: 100px;
}

.selected {
  border-bottom: 1px solid #6ac7be;
  color: #6ac7be;
}

.menu_icon {
  z-index: 5;
  width: 20px;
  height: 20px;
  padding-left: 20px;
  padding-top: 20px;
}
