@import "src/variables";

.row {
  display: flex;
  height: 55px;
  width: 80vw;
  background-color: $white;
  justify-content: space-between;
  border-radius: 20px 0px 20px 0px;
  align-items: center;
  margin-left: 2vw;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}
@media (max-width: 420px) {
  .row {
    width: 90vw;
    margin-left: 60px;
  }
}

.name {
  width: 12vw;
}
.email {
  width: 15vw;
}
.phone {
  width: 15vw;
}

.index {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $turquoise;
  border: none;
  width: 35px;
  height: 55px;
  border-radius: 20px 0px 20px 0px;
}

.text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
}

.assistant {
  height: 15px;
  width: 15px;
  border: none;
  border-radius: 50%;
  background-color: $sky;
  border: 2px solid transparent;
}
.doctor {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: $violet;
  border: 2px solid transparent;
}
.financial {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: $yellow;
  border: 2px solid transparent;
}
.patient {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: $olive-green;
  border: 2px solid transparent;
}
.emergency {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: $red;
  border: 2px solid transparent;
}
.empty {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid $light-asphalt;
  background-color: $white;
}

.allerts_container {
  width: 8vw;
  display: flex;
  gap: 1px;
  justify-content: flex-start;
}

.room {
  padding-left: 5px;
}

.action {
  margin-right: 15px;
}

.action:hover {
  cursor: pointer;
  filter: invert(5%) sepia(99%) saturate(82%) hue-rotate(1deg) brightness(0%)
    contrast(106%);
}

.allert1 {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: $dark-green;
  border: 2px solid transparent;
}

.allert2 {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: $dark-turquoise;
  border: 2px solid transparent;
}

.allert3 {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: $blue;
  border: 2px solid transparent;
}

.allert4 {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: $light-yellow;
  border: 2px solid transparent;
}
.allert5 {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: $light-green;
  border: 2px solid transparent;
}

.allert6 {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: $dark-purple;
  border: 2px solid transparent;
}

.allert7 {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: $orange;
  border: 2px solid transparent;
}

.allert8 {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: $light-purple;
  border: 2px solid transparent;
}

.allert9 {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: $light-turquoise;
  border: 2px solid transparent;
}

.allert10 {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: $olive-turquoise;
  border: 2px solid transparent;
}
