@import "src/variables";

.ward {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid transparent;
  width: 220px;
  height: 190px;
  box-shadow: 0px 4px 10px 0px rgba(32, 43, 93, 0.08);

  border-radius: 20px 20px 0px 20px;
  background-color: $white;
}
.ward:hover {
  cursor: pointer;
  border: 2px solid $orange;
}

.header {
  display: flex;
  background-color: #fafcff;
  border-radius: 20px 20px 0px 20px;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.ward_number {
  width: 60px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: none;
  border-radius: 18px 0px 18px 0px;
  background-color: $turquoise;
}

.time {
  color: $orange;
  padding-right: 8px;
}

.text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.user_option {
  display: flex;
  width: 65px;
  height: 65px;
  margin-top: 10px;
  align-items: center;
  justify-content: space-around;

  border: 2px solid $yellow;
  color: $yellow;

  font-size: 30px;
  font-weight: 500;
  line-height: 45px;

  border-radius: 50%;
  background: $light-yellow;
}

.option_text {
  color: $light-orange;

  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
}

.option_container {
  display: flex;
  margin-top: 15px;
}

.arrow {
  padding-left: 5px;
}

.assistantIn {
  display: flex;
  width: 65px;
  height: 65px;
  align-items: center;
  justify-content: space-around;

  border: 2px solid $yellow;
  color: $yellow;

  font-size: 30px;
  font-weight: 500;
  line-height: 45px;

  border-radius: 50%;
  background: $light-yellow;
}

.assistantRequired {
  display: flex;
  width: 65px;
  height: 65px;
  align-items: center;
  justify-content: space-around;

  border: 2px solid $yellow;
  color: $orange;

  font-size: 30px;
  font-weight: 500;
  line-height: 45px;

  border-radius: 50%;
  background: $light-yellow;
}
.doctorRequired {
  display: flex;
  width: 65px;
  height: 65px;

  align-items: center;
  justify-content: space-around;

  border: 2px solid $sky;
  color: $orange;

  font-size: 30px;
  font-weight: 500;
  line-height: 45px;

  border-radius: 50%;
  background: $bright-blue;
}

.doctorIn {
  display: flex;
  width: 65px;
  height: 65px;

  align-items: center;
  justify-content: space-around;

  border: 2px solid $sky;
  color: $sky;

  font-size: 30px;
  font-weight: 500;
  line-height: 45px;

  border-radius: 50%;
  background: $bright-blue;
}

.patientIn {
  display: flex;
  width: 65px;
  height: 65px;
  align-items: center;
  justify-content: space-around;

  border: 2px solid $olive-green;
  color: $olive-green;

  font-size: 30px;
  font-weight: 500;
  line-height: 45px;

  border-radius: 50%;
  background: $bright-green;
}

.financialIn {
  display: flex;
  width: 65px;
  height: 65px;

  align-items: center;
  justify-content: space-around;

  border: 2px solid $light-violet;
  color: $light-violet;

  font-size: 30px;
  font-weight: 500;
  line-height: 45px;

  border-radius: 50%;
  background: $bright-viloet;
}

.financialRequired {
  display: flex;
  width: 65px;
  height: 65px;

  align-items: center;
  justify-content: space-around;

  border: 2px solid $light-violet;
  color: $orange;

  font-size: 30px;
  font-weight: 500;
  line-height: 45px;

  border-radius: 50%;
  background: $bright-viloet;
}

.emergency {
  display: flex;
  width: 65px;
  height: 65px;

  align-items: center;
  justify-content: space-around;

  border: 2px solid $red;
  color: $red;

  font-size: 30px;
  font-weight: 500;
  line-height: 45px;

  border-radius: 50%;
  background: $bright-red;
}

.empty {
  display: flex;
  width: 65px;
  height: 65px;

  align-items: center;
  justify-content: space-around;

  border: 2px solid $light-asphalt;
  color: $white;

  font-size: 30px;
  font-weight: 500;
  line-height: 45px;

  border-radius: 50%;
  background: $white;
}
