@import "src/variables";

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $light-grey;
}

.page_content {
  background-color: $light-grey;
  padding: 50px;
  margin-left: 185px;
}

@media (max-width: 420px) {
  .page_content {
    padding: 0px;
    margin-left: 0px;
  }
}

.menu_icon {
  width: 20px;
  height: 20px;
  padding-left: 20px;
  padding-top: 20px;
}

.header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.options_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.allert1 {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: space-around;

  border: 2px solid $dark-purple;
  color: $dark-purple;

  font-size: 30px;
  font-weight: 500;
  line-height: 45px;

  border-radius: 50%;
  background: $bright-dark-purple;
}

.allert2 {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: space-around;

  border: 2px solid $light-turquoise;
  color: $light-turquoise;

  font-size: 30px;
  font-weight: 500;
  line-height: 45px;

  border-radius: 50%;
  background: $opacity-light-turquoise;
}

.allert3 {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: space-around;

  border: 2px solid $orange;
  color: $orange;

  font-size: 30px;
  font-weight: 500;
  line-height: 45px;

  border-radius: 50%;
  background: $opacity-orange;
}

.allert4 {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: space-around;

  border: 2px solid $light-purple;
  color: $light-purple;

  font-size: 30px;
  font-weight: 500;
  line-height: 45px;

  border-radius: 50%;
  background: $opacity-light-purple;
}

.allert5 {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: space-around;

  border: 2px solid $olive-turquoise;
  color: $olive-turquoise;

  font-size: 30px;
  font-weight: 500;
  line-height: 45px;

  border-radius: 50%;
  background: $opacity-olive-turquoise;
}

.allert6 {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: space-around;

  border: 2px solid $light-green;
  color: $light-green;

  font-size: 30px;
  font-weight: 500;
  line-height: 45px;

  border-radius: 50%;
  background: $opacity-light-green;
}
