@import "src/variables";

.left_side_menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: space-around;
  width: 12vw;
  height: 100vh;
  background-color: $dark-blue;
}

.logo {
  font-size: 30px;
  color: $white;
  font-weight: 600;
  line-height: 45px;
  text-align: center;
}

.menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
}

.title {
  color: $white;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  padding-left: 8px;
}

.sign_out {
  display: flex;
  width: 100%;
  height: 53px;
  padding-left: 15px;
  align-items: center;
}

.sign_out_title {
  color: $violet;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  padding-left: 10px;
}
