@import "src/variables";

.left_side_menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: space-around;
  width: 185px;
  z-index: 1;
  height: 100vh;
  background-color: #212155;
}

@media (max-width: 420px) {
  .left_side_menu {
    z-index: 10;
    height: 100vh;
    padding-bottom: 30vh;
  }
}
.logo {
  font-size: 30px;
  color: $white;
  font-weight: 600;
  line-height: 45px;
  text-align: center;
}
.menu_icon_container {
  display: none;
  justify-content: flex-end;
  width: 90%;
}
@media (max-width: 420px) {
  .menu_icon_container {
    display: flex;
  }
}

.menu_icon {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
}

.menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
}

.title {
  color: $white;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  padding-left: 8px;
}

.sign_out {
  display: flex;
  width: 100%;
  height: 53px;
  padding-left: 15px;
  align-items: center;
}

.sign_out_title {
  color: $violet;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  padding-left: 10px;
}
