@import "src/variables";

.modal {
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 1; /* Sit on top */
  padding-left: 5vw;

  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  backdrop-filter: contrast(70%);
}

.modal_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  padding-left: 40px;
  width: 60vw;
  height: 60vh;
  overflow: auto;
  border: none;
  border-radius: 20px;
  background-color: $white;
  box-shadow: 0px 4px 20px 0px #202b5d1f;
}

.list_item {
  display: flex;
}

.close:hover {
  cursor: pointer;
  filter: invert(5%) sepia(99%) saturate(82%) hue-rotate(1deg) brightness(0%)
    contrast(106%);
}

.option_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 300px;
  height: 85px;
  padding-left: 10px;
  border: none;
  border-radius: 50px;
}
.option_container:hover {
  cursor: pointer;
  background-color: $ligher-grey;
}

.left_column {
  width: 47%;
  border-right: 1px solid $light-asphalt;
}

.selected {
  background-color: #6ac7be66;
}
.selected:hover {
  background-color: #6ac7be66;
}
.assistantIn {
  display: flex;
  width: 65px;
  height: 65px;
  align-items: center;
  justify-content: space-around;

  border: 2px solid $yellow;
  color: $yellow;

  font-size: 30px;
  font-weight: 500;
  line-height: 45px;

  border-radius: 50%;
  background: $opacity-light-yellow;
}

.assistantRequired {
  display: flex;
  width: 65px;
  height: 65px;
  align-items: center;
  justify-content: space-around;

  border: 2px solid $yellow;
  color: $orange;

  font-size: 30px;
  font-weight: 500;
  line-height: 45px;

  border-radius: 50%;
  background: $opacity-light-yellow;
}
.doctorRequired {
  display: flex;
  width: 65px;
  height: 65px;

  align-items: center;
  justify-content: space-around;

  border: 2px solid $sky;
  color: $orange;

  font-size: 30px;
  font-weight: 500;
  line-height: 45px;

  border-radius: 50%;
  background: $bright-blue;
}

.doctorIn {
  display: flex;
  width: 65px;
  height: 65px;

  align-items: center;
  justify-content: space-around;

  border: 2px solid $sky;
  color: $sky;

  font-size: 30px;
  font-weight: 500;
  line-height: 45px;

  border-radius: 50%;
  background: $bright-blue;
}

.patientIn {
  display: flex;
  width: 65px;
  height: 65px;
  align-items: center;
  justify-content: space-around;

  border: 2px solid $olive-green;
  color: $olive-green;

  font-size: 30px;
  font-weight: 500;
  line-height: 45px;

  border-radius: 50%;
  background: $bright-green;
}

.financialIn {
  display: flex;
  width: 65px;
  height: 65px;

  align-items: center;
  justify-content: space-around;

  border: 2px solid $light-violet;
  color: $light-violet;

  font-size: 30px;
  font-weight: 500;
  line-height: 45px;

  border-radius: 50%;
  background: $bright-viloet;
}

.financialRequired {
  display: flex;
  width: 65px;
  height: 65px;

  align-items: center;
  justify-content: space-around;

  border: 2px solid $light-violet;
  color: $orange;

  font-size: 30px;
  font-weight: 500;
  line-height: 45px;

  border-radius: 50%;
  background: $bright-viloet;
}

.emergency {
  display: flex;
  width: 65px;
  height: 65px;

  align-items: center;
  justify-content: space-around;

  border: 2px solid $red;
  color: $red;

  font-size: 30px;
  font-weight: 500;
  line-height: 45px;

  border-radius: 50%;
  background: $bright-red;
}

.empty {
  display: flex;
  width: 65px;
  height: 65px;

  align-items: center;
  justify-content: space-around;

  border: 2px solid $light-asphalt;
  color: $white;

  font-size: 30px;
  font-weight: 500;
  line-height: 45px;

  border-radius: 50%;
  background: $white;
}
.title {
  padding-left: 15px;
}

.allert1 {
  display: flex;
  width: 65px;
  height: 65px;
  align-items: center;
  justify-content: space-around;

  border: 2px solid $dark-purple;
  color: $dark-purple;

  font-size: 30px;
  font-weight: 500;
  line-height: 45px;

  border-radius: 50%;
  background: $bright-dark-purple;
}

.allert2 {
  display: flex;
  width: 65px;
  height: 65px;
  align-items: center;
  justify-content: space-around;

  border: 2px solid $light-turquoise;
  color: $light-turquoise;

  font-size: 30px;
  font-weight: 500;
  line-height: 45px;

  border-radius: 50%;
  background: $opacity-light-turquoise;
}

.allert3 {
  display: flex;
  width: 65px;
  height: 65px;
  align-items: center;
  justify-content: space-around;

  border: 2px solid $orange;
  color: $orange;

  font-size: 30px;
  font-weight: 500;
  line-height: 45px;

  border-radius: 50%;
  background: $opacity-orange;
}

.allert4 {
  display: flex;
  width: 65px;
  height: 65px;
  align-items: center;
  justify-content: space-around;

  border: 2px solid $light-purple;
  color: $light-purple;

  font-size: 30px;
  font-weight: 500;
  line-height: 45px;

  border-radius: 50%;
  background: $opacity-light-purple;
}

.allert5 {
  display: flex;
  width: 65px;
  height: 65px;
  align-items: center;
  justify-content: space-around;

  border: 2px solid $olive-turquoise;
  color: $olive-turquoise;

  font-size: 30px;
  font-weight: 500;
  line-height: 45px;

  border-radius: 50%;
  background: $opacity-olive-turquoise;
}

.allert6 {
  display: flex;
  width: 65px;
  height: 65px;
  align-items: center;
  justify-content: space-around;

  border: 2px solid $light-green;
  color: $light-green;

  font-size: 30px;
  font-weight: 500;
  line-height: 45px;

  border-radius: 50%;
  background: $opacity-light-green;
}
