@import "src/variables";

.modal {
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 1; /* Sit on top */

  width: 88vw; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  backdrop-filter: contrast(70%);
}

.modal_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  align-items: flex-start;
  padding: 20px;
  gap: 15px;
  width: 27vw;
  height: fit-content;
  border: none;
  border-radius: 20px;
  background-color: $white;
  box-shadow: 0px 4px 20px 0px #202b5d1f;
}

.close:hover {
  cursor: pointer;
  filter: invert(5%) sepia(99%) saturate(82%) hue-rotate(1deg) brightness(0%)
    contrast(106%);
}

.close_container {
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: flex-end;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.header_title {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  padding: 20px;
}
