@import "src/variables";
.table {
  display: flex;
  background-color: $light-grey;
  flex-direction: column;
  padding-top: 8vh;
  padding-bottom: 5vh;
  gap: 1vh;
}

// @media (max-width: 420px) {
//   .table {
//     padding-left: 15vw;
//   }
// }
