$turquoise: #5cbd9f;
$black: #212121;
$light-grey: #f6f8ff;
$dark-blue: #212155;
$light-asphalt: #dadada;
$asphalt: #969696;
$violet: #8484d8;
$orange: #fc7e55;
$yellow: #f2d775;
$blue: #63bff2;
$light-violet: #939dff;
$olive-green: #74c386;
$red: #fc6666;
$grey: #dddddd;
$dark-violet: #8484d8;
$dark-green: #487d36;
$dark-turquoise: #1f7d74;
$blue: #3743ab;
$light-yellow: #f8fb66;
$light-green: #78f275;
$dark-purple: #ee5897;
$orange: #fa700c;
$light-purple: #e485f3;
$light-turquoise: #86e8ee;
$olive-turquoise: #c4e6e9;
$white: #ffffff;
