$turquoise: #6ac7be;
$black: #212121;
$light-grey: #f6f8ff;
$dark-blue: #212155;
$light-asphalt: #dadada;
$asphalt: #969696;
$violet: #8484d8;
$light-orange: #fc7e55;
$yellow: #f2d775;
$sky: #63bff2;
$light-violet: #939dff;
$olive-green: #74c386;
$red: #fc6666;
$grey: #dddddd;
$dark-violet: #8484d8;
$dark-green: #487d36;
$dark-turquoise: #1f7d74;
$blue: #3743ab;
$light-yellow: #f8fb66;
$light-green: #78f275;
$dark-purple: #ee5897;
$orange: #fa700c;
$light-purple: #e485f3;
$light-turquoise: #86e8ee;
$olive-turquoise: #c4e6e9;
$white: #ffffff;
$olive-gradient: rgba(196, 230, 233, 1);
$bright-blue: #63bff230;
$bright-green: #74c38630;
$bright-viloet: #939dff4d;
$bright-red: #fc66664d;
$bright-turquoise: #6ac7be66;
$bright-dark-purple: #ee589730;
$opacity-light-turquoise: #86e8ee30;
$opacity-orange: #fa700c30;
$opacity-light-purple: #e485f330;
$opacity-olive-turquoise: #c4e6e930;
$opacity-light-green: #78f27530;
$ligher-grey: #f6faf9;
$opacity-dark-green: #487d3630;
$opacity-dark-turquoise: #1f7d7430;
$opacity-blue: #3743ab30;
$opacity-light-yellow: #f8fb6630;
