@import "src/variables";

.modal {
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 1; /* Sit on top */
  margin-left: 11vw;

  width: 89vw; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  backdrop-filter: contrast(70%);
}

.modal_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  align-items: flex-start;
  padding: 20px;
  gap: 15px;
  width: 27vw;
  height: fit-content;
  border: none;
  border-radius: 20px;
  background-color: $white;
  box-shadow: 0px 4px 20px 0px #202b5d1f;
}

.close:hover {
  cursor: pointer;
  filter: invert(5%) sepia(99%) saturate(82%) hue-rotate(1deg) brightness(0%)
    contrast(106%);
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.close_container {
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: flex-end;
}

.content_wrapper {
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_title {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.allert1 {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: space-around;
  border: 2px solid $dark-purple;
  color: $dark-purple;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  border-radius: 50%;
  background: $bright-dark-purple;
}

.allert2 {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: space-around;
  border: 2px solid $light-turquoise;
  color: $light-turquoise;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  border-radius: 50%;
  background: $opacity-light-turquoise;
}

.allert3 {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: space-around;
  border: 2px solid $orange;
  color: $orange;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  border-radius: 50%;
  background: $opacity-orange;
}

.allert4 {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: space-around;
  border: 2px solid $light-purple;
  color: $light-purple;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  border-radius: 50%;
  background: $opacity-light-purple;
}

.allert5 {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: space-around;
  border: 2px solid $olive-turquoise;
  color: $olive-turquoise;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  border-radius: 50%;
  background: $opacity-olive-turquoise;
}

.allert6 {
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: space-around;
  border: 2px solid $light-green;
  color: $light-green;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  border-radius: 50%;
  background: $opacity-light-green;
}
.allert1:hover {
  cursor: pointer;
}
.allert2:hover {
  cursor: pointer;
}
.allert3:hover {
  cursor: pointer;
}
.allert4:hover {
  cursor: pointer;
}
.allert5:hover {
  cursor: pointer;
}
.allert6:hover {
  cursor: pointer;
}

.allerts_container {
  width: 90%;
  height: 10vh;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  width: 100%;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

// border: allert == orderedStyle ? "solid 4px" : "",
//                   height: allert == orderedStyle ? "60px" : "45px",
//                   width: allert == orderedStyle ? "60px" : "45px",

.ordered {
  border-width: 4px;
  height: 60px;
  width: 60px;
}
